@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
 
::selection {
  background: transparent;
}
 
/* JUMP */
.Winwrapper {
    width: 100vw;
    text-align: center;
}

.Winwrapper span {
  position: relative;
  font-family: "Luckiest Guy", cursive;
  -webkit-font-smoothing: antialiased;
  top: 20px;
  display: inline-block;
  -webkit-animation: bounce 0.3s ease infinite alternate;
  font-size: 80px;
  color: #20b50e;
    text-shadow: 0 1px 0 #f17e14, 0 2px 0 #f17e14, 0 3px 0 #f17e14, 0 4px 0 #f17e14, 0 5px 0 #f17e14, 0 6px 0 #f17e14, 0 7px 0 #f17e14, 0 8px 0 #f17e14, 0 9px 0 #f17e14, 0 10px 10px rgb(0 0 0 / 40%);
}

.Winwrapper span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}

.Winwrapper span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}

.Winwrapper span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}

.Winwrapper span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}

.Winwrapper span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}

.Winwrapper span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}

.Winwrapper span:nth-child(8) {
  -webkit-animation-delay: 0.2s;
}

.Winwrapper span:nth-child(9) {
  -webkit-animation-delay: 0.3s;
}

.Winwrapper span:nth-child(10) {
  -webkit-animation-delay: 0.4s;
}

.Winwrapper span:nth-child(11) {
  -webkit-animation-delay: 0.5s;
}

.Winwrapper span:nth-child(12) {
  -webkit-animation-delay: 0.6s;
}

.Winwrapper span:nth-child(13) {
  -webkit-animation-delay: 0.7s;
}

.Winwrapper span:nth-child(14) {
  -webkit-animation-delay: 0.8s;
}

/* ANIMATION */
@-webkit-keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}
